
/* Your CSS Code here. */
*{
	box-sizing:border-box;
}
table, th, td , tr{
      border: 1px solid black;
      padding: 2px;
	  box-sizing:border-box;
	  
    }

    .black-cell {
      background-color: black;
      color: white;
		text-align: center;
	
    }